In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [56]:
df = pd.read_csv('SocialMediaUsersDataset.csv')

In [57]:
df

,UserID,Name,Gender,DOB,Interests,City,Country
0,1,Jesse Lawhorn,Female,1958-10-15,"'Movies', 'Fashion', 'Fashion', 'Books'",Sibolga,Indonesia
1,2,Stacy Payne,Female,2004-07-21,"'Gaming', 'Finance and investments', 'Outdoor ...",Al Abyār,Libya
2,3,Katrina Nicewander,Female,2000-02-07,"'DIY and crafts', 'Music', 'Science', 'Fashion'",Wādī as Sīr,Jordan
3,4,Eric Yarbrough,Male,1985-04-14,"'Outdoor activities', 'Cars and automobiles'",Matera,Italy
4,5,Daniel Adkins,Female,1955-09-18,"'Politics', 'History'",Biruaca,Venezuela
...,...,...,...,...,...,...,...
99995,99996,Lionel Denault,Female,1983-07-31,'DIY and crafts',Dawan,China
99996,99997,Margie Mieszala,Female,1954-05-20,"'Cars and automobiles', 'Cooking', 'Outdoor ac...",Arcos de la Frontera,Spain
99997,99998,Joan Mercedes,Male,1975-06-06,"'Business and entrepreneurship', 'Cooking'",Los Andes,Chile
99998,99999,Marvin Massa,Female,1959-11-16,"'Gaming', 'Business and entrepreneurship', 'Fa...",Varjota,Brazil
99999,100000,Josh Young,Female,1988-07-29,"'Politics', 'Pets'",Brzeg,Poland

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   UserID     100000 non-null  int64
 1   Name       100000 non-null  object
 2   Gender     100000 non-null  object
 3   DOB        100000 non-null  object
 4   Interests  100000 non-null  object
 5   City       100000 non-null  object
 6   Country    100000 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [59]:
df['DOB'] = pd.to_datetime(df['DOB']) #, format='%y-%m-%d')

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   UserID     100000 non-null  int64
 1   Name       100000 non-null  object
 2   Gender     100000 non-null  object
 3   DOB        100000 non-null  datetime64[ns]
 4   Interests  100000 non-null  object
 5   City       100000 non-null  object
 6   Country    100000 non-null  object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 5.3+ MB

In [61]:
'sdfsdfsdf ghjghjghj'.split(' ')

['sdfsdfsdf', 'ghjghjghj']

In [62]:
df['First Name'] = df['Name'].apply(lambda x: x.split(' ')[0])

In [63]:
df['Last Name'] = df['Name'].apply(lambda x: x.split(' ')[1])

In [64]:
df

,UserID,Name,Gender,DOB,Interests,City,Country,First Name,Last Name
0,1,Jesse Lawhorn,Female,1958-10-15,"'Movies', 'Fashion', 'Fashion', 'Books'",Sibolga,Indonesia,Jesse,Lawhorn
1,2,Stacy Payne,Female,2004-07-21,"'Gaming', 'Finance and investments', 'Outdoor ...",Al Abyār,Libya,Stacy,Payne
2,3,Katrina Nicewander,Female,2000-02-07,"'DIY and crafts', 'Music', 'Science', 'Fashion'",Wādī as Sīr,Jordan,Katrina,Nicewander
3,4,Eric Yarbrough,Male,1985-04-14,"'Outdoor activities', 'Cars and automobiles'",Matera,Italy,Eric,Yarbrough
4,5,Daniel Adkins,Female,1955-09-18,"'Politics', 'History'",Biruaca,Venezuela,Daniel,Adkins
...,...,...,...,...,...,...,...,...,...
99995,99996,Lionel Denault,Female,1983-07-31,'DIY and crafts',Dawan,China,Lionel,Denault
99996,99997,Margie Mieszala,Female,1954-05-20,"'Cars and automobiles', 'Cooking', 'Outdoor ac...",Arcos de la Frontera,Spain,Margie,Mieszala
99997,99998,Joan Mercedes,Male,1975-06-06,"'Business and entrepreneurship', 'Cooking'",Los Andes,Chile,Joan,Mercedes
99998,99999,Marvin Massa,Female,1959-11-16,"'Gaming', 'Business and entrepreneurship', 'Fa...",Varjota,Brazil,Marvin,Massa
99999,100000,Josh Young,Female,1988-07-29,"'Politics', 'Pets'",Brzeg,Poland,Josh,Young

In [65]:
df['Interests'][0]

"'Movies', 'Fashion', 'Fashion', 'Books'"

In [66]:
#df['Interests'] = df['Interests'].apply(lambda x: x.split(','))

In [67]:
df.head(20)

,UserID,Name,Gender,DOB,Interests,City,Country,First Name,Last Name
0,1,Jesse Lawhorn,Female,1958-10-15,"'Movies', 'Fashion', 'Fashion', 'Books'",Sibolga,Indonesia,Jesse,Lawhorn
1,2,Stacy Payne,Female,2004-07-21,"'Gaming', 'Finance and investments', 'Outdoor ...",Al Abyār,Libya,Stacy,Payne
2,3,Katrina Nicewander,Female,2000-02-07,"'DIY and crafts', 'Music', 'Science', 'Fashion'",Wādī as Sīr,Jordan,Katrina,Nicewander
3,4,Eric Yarbrough,Male,1985-04-14,"'Outdoor activities', 'Cars and automobiles'",Matera,Italy,Eric,Yarbrough
4,5,Daniel Adkins,Female,1955-09-18,"'Politics', 'History'",Biruaca,Venezuela,Daniel,Adkins
5,6,Diane Jara,Male,1967-06-18,'Travel',Belton,United States,Diane,Jara
6,7,Sheryl Morgan,Female,1969-02-09,"'Outdoor activities', 'Movies'",Haslingden,United Kingdom,Sheryl,Morgan
7,8,William Harper,Male,1965-12-30,"'Beauty', 'Nature', 'Gardening', 'Food and din...",Ad-Damazin,Sudan,William,Harper
8,9,Virginia Varron,Male,1984-08-16,"'Parenting and family', 'Photography', 'Financ...",Tabuk,Saudi Arabia,Virginia,Varron
9,10,Charles Figueroa,Female,2003-03-08,'Gardening',Ongole,India,Charles,Figueroa
10,11,Paul Chain,Male,1984-04-07,"'Pets', 'Photography', 'Food and dining'",Timashyovsk,Russia,Paul,Chain
11,12,Christina Parker,Female,1963-08-30,"'Finance and investments', 'Health and wellness'",Roeselare,Belgium,Christina,Parker
12,13,Jack Freeman,Male,1984-08-07,"'Gaming', 'Travel', 'Technology', 'Art'",Manzhouli,China,Jack,Freeman
13,14,Wayne Fasano,Male,1955-03-30,"'Education and learning', 'Health and wellness...",Quíbor,Venezuela,Wayne,Fasano
14,15,Homer Maxwell,Male,1968-12-01,"'Art', 'Cooking', 'Cars and automobiles', 'Fas...",Biaora,India,Homer,Maxwell
15,16,Frank Holmes,Female,1984-01-09,"'Music', 'Pets', 'Sports'",Islāmnagar,India,Frank,Holmes
16,17,Donald Zeller,Male,1970-05-17,"'Music', 'DIY and crafts', 'Cars and automobil...",Paiçandu,Brazil,Donald,Zeller
17,18,Sheldon Wentz,Female,1969-05-14,"'Cars and automobiles', 'Business and entrepre...",Greenwood Village,United States,Sheldon,Wentz
18,19,Isabel Williams,Male,1981-08-15,"'Music', 'Outdoor activities', 'Social causes ...",Gryfice,Poland,Isabel,Williams
19,20,Cody Watson,Female,1986-03-07,"'Cars and automobiles', 'Music'",Date,Japan,Cody,Watson

In [68]:
list(df['Interests'])

["'Movies', 'Fashion', 'Fashion', 'Books'",
 "'Gaming', 'Finance and investments', 'Outdoor activities', 'Travel'",
 "'DIY and crafts', 'Music', 'Science', 'Fashion'",
 "'Outdoor activities', 'Cars and automobiles'",
 "'Politics', 'History'",
 "'Travel'",
 "'Outdoor activities', 'Movies'",
 "'Beauty', 'Nature', 'Gardening', 'Food and dining', 'DIY and crafts'",
 "'Parenting and family', 'Photography', 'Finance and investments'",
 "'Gardening'",
 "'Pets', 'Photography', 'Food and dining'",
 "'Finance and investments', 'Health and wellness'",
 "'Gaming', 'Travel', 'Technology', 'Art'",
 "'Education and learning', 'Health and wellness', 'Pets', 'Fitness', 'Music'",
 "'Art', 'Cooking', 'Cars and automobiles', 'Fashion', 'History'",
 "'Music', 'Pets', 'Sports'",
 "'Music', 'DIY and crafts', 'Cars and automobiles', 'Technology', 'Cooking'",
 "'Cars and automobiles', 'Business and entrepreneurship', 'Nature', 'History'",
 "'Music', 'Outdoor activities', 'Social causes and activism', 'Cooking', 'Education and learning'",
 "'Cars and automobiles', 'Music'",
 "'Music', 'Sports', 'Movies'",
 "'Nature', 'Pets'",
 "'Science', 'Movies'",
 "'Parenting and family', 'Education and learning', 'Gaming', 'Cooking'",
 "'Science', 'Movies', 'Health and wellness', 'Finance and investments', 'Books'",
 "'Food and dining'",
 "'Cooking', 'Fitness'",
 "'Travel', 'Photography'",
 "'History', 'Books', 'Photography'",
 "'Education and learning', 'Politics'",
 "'Health and wellness', 'Parenting and family', 'Photography'",
 "'Photography', 'Science', 'Technology'",
 "'Business and entrepreneurship'",
 "'Finance and investments', 'Photography', 'Finance and investments', 'Movies'",
 "'History'",
 "'Health and wellness'",
 "'Photography', 'Outdoor activities'",
 "'DIY and crafts', 'Fitness', 'Parenting and family', 'Fitness', 'DIY and crafts'",
 "'Music', 'History', 'Books', 'Books', 'Fashion'",
 "'Gaming', 'Music'",
 "'Travel'",
 "'Travel', 'Fitness'",
 "'Books', 'Gaming', 'Parenting and family', 'Nature', 'Science'",
 "'Parenting and family', 'Movies', 'Cars and automobiles'",
 "'Movies', 'Pets'",
 "'Nature', 'Finance and investments'",
 "'Books'",
 "'Cooking', 'Art', 'Gardening', 'Social causes and activism'",
 "'Health and wellness'",
 "'Books', 'Health and wellness'",
 "'Health and wellness', 'Health and wellness', 'Sports', 'Cars and automobiles'",
 "'Science', 'Fitness', 'Beauty'",
 "'Politics'",
 "'Art', 'Photography'",
 "'Movies', 'Social causes and activism', 'Business and entrepreneurship'",
 "'Fashion', 'History'",
 "'Fitness', 'Beauty', 'Books'",
 "'Education and learning', 'Fashion'",
 "'Books', 'Cooking'",
 "'Books'",
 "'Business and entrepreneurship'",
 "'Photography', 'Beauty', 'Cars and automobiles', 'Sports'",
 "'Politics', 'Parenting and family'",
 "'Fashion', 'Cars and automobiles'",
 "'Travel', 'Cooking', 'Parenting and family', 'Movies', 'Books'",
 "'Outdoor activities', 'Social causes and activism', 'Pets'",
 "'Sports', 'Nature', 'Gardening'",
 "'Social causes and activism', 'Education and learning'",
 "'Books', 'DIY and crafts', 'Pets', 'Science'",
 "'Business and entrepreneurship'",
 "'Cars and automobiles', 'Fashion', 'Gaming'",
 "'Education and learning', 'Fitness', 'Outdoor activities', 'Gardening', 'Art'",
 "'Gardening'",
 "'Technology'",
 "'Nature', 'Gaming', 'Gardening'",
 "'Sports'",
 "'Education and learning'",
 "'Cars and automobiles', 'Food and dining', 'Education and learning', 'Art', 'Finance and investments'",
 "'Science', 'Fashion'",
 "'Fashion'",
 "'Education and learning', 'DIY and crafts', 'Music', 'Fitness', 'Gardening'",
 "'Music', 'Travel', 'Fitness', 'Education and learning', 'Travel'",
 "'Gardening', 'Photography'",
 "'Gaming', 'DIY and crafts', 'DIY and crafts', 'Cooking'",
 "'Gaming', 'Movies'",
 "'Art', 'Science', 'Business and entrepreneurship', 'Photography'",
 "'Art', 'Beauty', 'Fashion', 'Fitness', 'Finance and investments'",
 "'Science', 'Music', 'Travel', 'Fitness'",
 "'Finance and investments', 'Art'",
 "'Music'",
 "'Gaming'",
 "'Travel', 'Finance and investments', 'Travel', 'Pets'",
 "'Fitness', 'Sports', 'Parenting and family'",
 "'Cars and automobiles', 'Books'",
 "'Movies', 'Social causes and activism', 'Outdoor activities'",
 "'Art', 'Health and wellness'",
 "'Technology', 'Movies'",
 "'Gardening', 'Finance and investments', 'Outdoor activities'",
 "'Gardening', 'Gardening'",
 "'Movies', 'Music', 'Business and entrepreneurship', 'Food and dining'",
 "'Music', 'Health and wellness'",
 "'Books', 'Technology', 'Gaming', 'Education and learning', 'Business and entrepreneurship'",
 "'Nature', 'Gaming', 'Food and dining', 'Pets', 'Technology'",
 "'Parenting and family'",
 "'Parenting and family', 'Gardening', 'History', 'Technology'",
 "'History', 'Finance and investments', 'Travel', 'Beauty'",
 "'Science'",
 "'Photography', 'Business and entrepreneurship'",
 "'Food and dining', 'Travel', 'Pets', 'History'",
 "'Music', 'Sports', 'Books'",
 "'Fitness', 'Sports', 'Parenting and family'",
 "'Social causes and activism', 'Music'",
 "'Beauty', 'Photography', 'Music'",
 "'Fitness', 'Sports', 'Outdoor activities', 'Nature'",
 "'Food and dining'",
 "'Fitness', 'Travel', 'Finance and investments', 'Social causes and activism'",
 "'Science', 'Politics', 'Politics'",
 "'Health and wellness'",
 "'Pets', 'Parenting and family', 'Nature'",
 "'Travel', 'Nature', 'DIY and crafts'",
 "'Politics', 'Fashion', 'Beauty', 'Movies', 'Cars and automobiles'",
 "'Science', 'Beauty', 'Beauty', 'Pets', 'Cars and automobiles'",
 "'Nature', 'Beauty', 'Sports'",
 "'Health and wellness', 'Politics', 'Travel', 'Pets', 'Finance and investments'",
 "'Outdoor activities', 'Finance and investments'",
 "'Fashion'",
 "'History'",
 "'Cooking', 'Science', 'Movies'",
 "'Pets'",
 "'Sports', 'Fashion', 'Fashion', 'Health and wellness'",
 "'Technology', 'Science', 'Outdoor activities', 'Music', 'Social causes and activism'",
 "'Fashion', 'Books', 'Travel', 'Movies'",
 "'Nature', 'Books', 'Fashion'",
 "'DIY and crafts', 'Photography', 'Sports'",
 "'Education and learning'",
 "'Technology', 'Cooking', 'Nature'",
 "'Travel', 'Cooking', 'Art', 'Pets', 'Parenting and family'",
 "'Food and dining', 'Sports', 'Parenting and family'",
 "'Fitness', 'Photography'",
 "'Education and learning'",
 "'Travel'",
 "'Health and wellness', 'Fitness'",
 "'Photography'",
 "'Parenting and family', 'Music'",
 "'Business and entrepreneurship', 'Finance and investments', 'Business and entrepreneurship', 'Art'",
 "'Cooking'",
 "'Politics', 'Books', 'Sports', 'Education and learning', 'Food and dining'",
 "'History'",
 "'History', 'Finance and investments', 'Nature', 'DIY and crafts', 'Cars and automobiles'",
 "'DIY and crafts'",
 "'Fashion', 'Gaming', 'Politics'",
 "'Fashion', 'Food and dining'",
 "'Fashion', 'Fitness', 'Nature'",
 "'Nature', 'Music', 'Nature', 'Cooking'",
 "'Health and wellness'",
 "'Travel', 'Parenting and family', 'Music', 'Science'",
 "'Pets'",
 "'Fitness', 'Books', 'Parenting and family', 'Technology', 'Fashion'",
 "'Finance and investments'",
 "'History', 'Movies', 'Education and learning', 'Fashion'",
 "'Fashion', 'Sports', 'Music', 'History'",
 "'Parenting and family', 'Food and dining', 'Beauty', 'Parenting and family'",
 "'Social causes and activism', 'Beauty', 'Outdoor activities'",
 "'Parenting and family', 'Movies', 'Nature', 'Cooking', 'History'",
 "'Outdoor activities', 'Cars and automobiles', 'Travel'",
 "'Movies'",
 "'Travel'",
 "'Nature', 'DIY and crafts', 'Social causes and activism', 'Photography'",
 "'Cars and automobiles', 'Travel', 'Fitness', 'Pets'",
 "'Fitness', 'Beauty', 'Fitness'",
 "'Science', 'Business and entrepreneurship', 'Photography'",
 "'Outdoor activities', 'Food and dining', 'Cooking'",
 "'Beauty', 'Travel', 'Photography'",
 "'Gardening', 'DIY and crafts', 'Fitness'",
 "'Cars and automobiles', 'Cooking', 'History'",
 "'Sports'",
 "'Science', 'Food and dining', 'Gaming', 'Finance and investments'",
 "'Cooking'",
 "'History'",
 "'Outdoor activities', 'Politics', 'Food and dining', 'Nature', 'Fitness'",
 "'Cars and automobiles', 'Politics', 'Cars and automobiles', 'Business and entrepreneurship'",
 "'Fashion', 'Social causes and activism', 'Nature', 'Gardening', 'Technology'",
 "'Finance and investments'",
 "'Music', 'Cars and automobiles'",
 "'Fashion', 'Photography', 'Science', 'Politics'",
 "'Beauty', 'Gaming'",
 "'Books', 'History'",
 "'Business and entrepreneurship', 'Cars and automobiles', 'Cooking'",
 "'Fitness', 'Pets', 'Technology', 'Cars and automobiles', 'Outdoor activities'",
 "'Music', 'Cooking'",
 "'Business and entrepreneurship', 'Nature', 'Travel'",
 "'Art', 'Movies', 'Technology', 'DIY and crafts'",
 "'Travel', 'Nature'",
 "'Gardening'",
 "'Travel', 'Outdoor activities', 'Fitness', 'Food and dining', 'Education and learning'",
 "'Fashion', 'History', 'Gaming', 'Books', 'Photography'",
 "'Fitness', 'Books', 'Pets', 'Fitness'",
 "'Sports', 'Cars and automobiles', 'Beauty', 'Business and entrepreneurship', 'Gardening'",
 "'Beauty', 'Sports', 'Parenting and family'",
 "'Outdoor activities', 'Technology', 'DIY and crafts'",
 "'Technology', 'Politics'",
 "'Fitness', 'Nature', 'Photography'",
 "'Science', 'Parenting and family', 'Gaming'",
 "'Cars and automobiles'",
 "'Finance and investments', 'Outdoor activities', 'Cars and automobiles', 'Health and wellness'",
 "'Food and dining', 'Beauty', 'History', 'Politics'",
 "'Technology', 'Health and wellness', 'Gaming', 'Social causes and activism'",
 "'Parenting and family'",
 "'Cooking', 'Pets', 'Music', 'History', 'DIY and crafts'",
 "'Education and learning', 'Outdoor activities', 'Business and entrepreneurship', 'Business and entrepreneurship'",
 "'Cars and automobiles'",
 "'History', 'Science'",
 "'Pets', 'Photography', 'Fashion', 'Music', 'Education and learning'",
 "'Gardening'",
 "'Fashion', 'Health and wellness'",
 "'Parenting and family', 'Sports'",
 "'Business and entrepreneurship', 'Sports', 'Finance and investments'",
 "'Art', 'Social causes and activism', 'Movies', 'Cooking'",
 "'Technology', 'Art', 'Science'",
 "'Fashion', 'Social causes and activism'",
 "'Fitness', 'Fitness', 'Art', 'Fitness'",
 "'Nature', 'DIY and crafts', 'Art', 'Food and dining', 'Finance and investments'",
 "'Sports', 'History', 'DIY and crafts', 'Parenting and family'",
 "'Parenting and family'",
 "'Science', 'Beauty', 'Outdoor activities'",
 "'Cars and automobiles'",
 "'Health and wellness'",
 "'Travel'",
 "'Gardening', 'Fashion', 'Nature', 'DIY and crafts', 'Business and entrepreneurship'",
 "'Gaming', 'Business and entrepreneurship', 'Beauty', 'Fitness'",
 "'Gardening'",
 "'Technology', 'Health and wellness', 'Nature'",
 "'Movies', 'Education and learning'",
 "'Fashion', 'Nature', 'Books', 'Movies', 'DIY and crafts'",
 "'Travel', 'Social causes and activism', 'Parenting and family', 'Education and learning'",
 "'Gaming', 'Nature'",
 "'Fashion'",
 "'Photography'",
 "'Gaming', 'Education and learning'",
 "'Photography', 'DIY and crafts'",
 "'Technology', 'Business and entrepreneurship', 'Books', 'Music'",
 "'Finance and investments', 'Beauty', 'Movies', 'Photography', 'DIY and crafts'",
 "'Outdoor activities', 'Parenting and family', 'Food and dining', 'Parenting and family'",
 "'Travel'",
 "'Pets', 'Fashion', 'Parenting and family', 'Social causes and activism', 'Business and entrepreneurship'",
 "'Music', 'Travel', 'Parenting and family', 'Gardening', 'Business and entrepreneurship'",
 "'Sports'",
 "'Health and wellness'",
 "'Gaming'",
 "'Sports'",
 "'Movies', 'Books', 'Business and entrepreneurship', 'Finance and investments'",
 "'Cooking'",
 "'Food and dining', 'Photography'",
 "'Finance and investments'",
 "'Photography', 'Business and entrepreneurship', 'Cars and automobiles', 'Gaming', 'Books'",
 "'Beauty'",
 "'Business and entrepreneurship', 'Travel', 'Parenting and family', 'Business and entrepreneurship'",
 "'Sports', 'History', 'Science'",
 "'Books', 'Science'",
 "'DIY and crafts'",
 "'Travel', 'Cars and automobiles', 'Photography', 'Movies', 'Music'",
 "'Nature', 'Pets', 'Cooking'",
 "'Gardening'",
 "'Cars and automobiles', 'Beauty', 'Photography'",
 "'Art'",
 "'Cars and automobiles', 'Fitness', 'Technology', 'Gardening'",
 "'Outdoor activities', 'Parenting and family', 'Books'",
 "'Cooking', 'Finance and investments'",
 "'Travel', 'Fitness', 'History', 'Fashion'",
 "'Movies', 'Finance and investments', 'Music', 'Sports'",
 "'Fashion'",
 "'Technology', 'Health and wellness', 'Technology', 'Cars and automobiles', 'Movies'",
 "'Books', 'History'",
 "'Social causes and activism', 'Movies', 'Music', 'Business and entrepreneurship', 'Movies'",
 "'Outdoor activities', 'Beauty', 'Social causes and activism'",
 "'Technology', 'Fitness', 'Parenting and family'",
 "'Outdoor activities', 'Gardening'",
 "'Gardening', 'Beauty'",
 "'Health and wellness', 'Fitness'",
 "'Health and wellness', 'Travel', 'Social causes and activism', 'DIY and crafts'",
 "'Photography', 'Cars and automobiles', 'Education and learning', 'Gardening', 'Technology'",
 "'Parenting and family', 'Business and entrepreneurship'",
 "'Education and learning'",
 "'Movies'",
 "'Finance and investments', 'Food and dining', 'Cars and automobiles'",
 "'Sports', 'Gardening'",
 "'Outdoor activities'",
 "'Health and wellness', 'Food and dining', 'Sports'",
 "'History', 'Politics'",
 "'Photography', 'Music', 'History', 'Social causes and activism', 'Art'",
 "'Business and entrepreneurship'",
 "'Technology', 'Gardening', 'Education and learning'",
 "'Music'",
 "'Art', 'DIY and crafts', 'Fashion', 'Gaming', 'Finance and investments'",
 "'Beauty', 'Outdoor activities', 'Fashion', 'Outdoor activities', 'History'",
 "'Politics', 'Health and wellness', 'Finance and investments'",
 "'Finance and investments', 'Sports'",
 "'DIY and crafts', 'Travel', 'Books'",
 "'Photography', 'DIY and crafts', 'Sports', 'Beauty', 'Movies'",
 "'Parenting and family'",
 "'DIY and crafts', 'DIY and crafts'",
 "'Science', 'Sports', 'Cooking', 'Gardening', 'Education and learning'",
 "'Books', 'Technology', 'Science'",
 "'Fashion', 'Fashion', 'Cooking', 'Music', 'Health and wellness'",
 "'Movies', 'Education and learning', 'Fitness', 'Art'",
 "'Social causes and activism', 'Fashion', 'Beauty', 'DIY and crafts', 'Cars and automobiles'",
 "'Food and dining', 'Business and entrepreneurship', 'Gardening', 'DIY and crafts'",
 "'Cars and automobiles', 'Fashion', 'Photography'",
 "'Gardening', 'Movies'",
 "'Fitness', 'Science'",
 "'Fitness', 'Cars and automobiles', 'Music', 'Art'",
 "'Science', 'Science'",
 "'Cars and automobiles', 'Gardening', 'Food and dining', 'Social causes and activism', 'History'",
 "'Books', 'Pets', 'Fitness', 'Sports', 'Parenting and family'",
 "'Cars and automobiles'",
 "'Beauty', 'Movies', 'Health and wellness'",
 "'Business and entrepreneurship', 'Fitness'",
 "'Parenting and family', 'Food and dining', 'Science', 'DIY and crafts'",
 "'History', 'Nature'",
 "'Technology', 'Gaming', 'Pets'",
 "'DIY and crafts', 'Gaming', 'Photography', 'Music'",
 "'DIY and crafts', 'Technology', 'Social causes and activism', 'Technology'",
 "'Beauty', 'Food and dining', 'Photography'",
 "'Gardening', 'Sports', 'Photography'",
 "'Photography', 'Fashion', 'Photography', 'Movies'",
 "'History'",
 "'Cars and automobiles', 'Technology', 'Music', 'Parenting and family', 'Cars and automobiles'",
 "'Politics', 'Photography'",
 "'Cars and automobiles', 'Business and entrepreneurship', 'Art', 'Social causes and activism', 'Nature'",
 "'Health and wellness'",
 "'Education and learning', 'Science', 'Food and dining'",
 "'Business and entrepreneurship', 'Fashion', 'Social causes and activism'",
 "'DIY and crafts'",
 "'Books', 'Gaming', 'Music'",
 "'Gaming', 'Art', 'Politics', 'Cooking'",
 "'Art', 'Gaming', 'Travel', 'Books'",
 "'Parenting and family'",
 "'Parenting and family', 'Outdoor activities', 'Pets'",
 "'Food and dining', 'Books'",
 "'Science', 'Pets', 'History', 'Technology'",
 "'Music', 'Education and learning', 'Politics', 'Beauty'",
 "'Education and learning'",
 "'Finance and investments', 'Travel', 'Fitness'",
 "'Fitness', 'Photography', 'Cars and automobiles', 'Gaming', 'Politics'",
 "'Art'",
 "'Gaming', 'Cooking'",
 "'Sports', 'Fitness', 'Parenting and family', 'Finance and investments'",
 "'Finance and investments', 'Gaming', 'Technology', 'Education and learning'",
 "'Cars and automobiles', 'Nature'",
 "'Food and dining', 'Fitness', 'Cars and automobiles'",
 "'Beauty', 'Photography', 'Travel', 'Cooking', 'Fashion'",
 "'Education and learning'",
 "'Health and wellness', 'History', 'Fitness'",
 "'Finance and investments', 'Health and wellness', 'Beauty'",
 "'Fitness', 'Nature', 'Politics', 'Fashion', 'Business and entrepreneurship'",
 "'Science', 'Music'",
 "'History', 'Fashion', 'Art'",
 "'Business and entrepreneurship', 'Sports', 'History', 'Fitness', 'Beauty'",
 "'Art', 'Fashion', 'Education and learning'",
 "'Politics', 'Gardening', 'Movies', 'Fashion'",
 "'Fashion', 'Outdoor activities', 'Pets'",
 "'Fashion', 'Politics'",
 "'Music', 'Beauty', 'Cars and automobiles', 'Sports'",
 "'Books', 'Business and entrepreneurship'",
 "'Science', 'Gardening', 'Pets'",
 "'Cooking', 'Cooking', 'Gaming', 'DIY and crafts'",
 "'Finance and investments', 'Technology'",
 "'Fashion', 'Fashion'",
 "'Sports', 'Sports', 'Photography', 'Outdoor activities'",
 "'Gaming', 'Fashion', 'Education and learning', 'Music'",
 "'History'",
 "'Gaming', 'Books', 'Education and learning', 'Travel', 'Food and dining'",
 "'Fashion'",
 "'Books', 'Fashion', 'Cars and automobiles', 'Music', 'Travel'",
 "'Fashion', 'Cars and automobiles', 'Politics'",
 "'Technology', 'Parenting and family', 'Politics'",
 "'Books', 'Photography'",
 "'Education and learning'",
 "'Beauty', 'Social causes and activism'",
 "'History', 'Travel', 'Politics', 'Science'",
 "'History'",
 "'Books', 'Science'",
 "'Health and wellness', 'Pets'",
 "'Fashion', 'Cars and automobiles'",
 "'Fitness'",
 "'Beauty'",
 "'Cooking', 'Travel'",
 "'Fitness', 'Music', 'Food and dining', 'Fitness', 'DIY and crafts'",
 "'Cars and automobiles', 'Books', 'Business and entrepreneurship', 'Health and wellness'",
 "'Art', 'Nature', 'Cooking', 'Art', 'Photography'",
 "'Cooking', 'Technology', 'Travel'",
 "'Outdoor activities', 'Technology', 'Movies'",
 "'Science', 'Education and learning'",
 "'Pets', 'Travel'",
 "'Gardening', 'Pets', 'Social causes and activism', 'Gaming'",
 "'Gaming', 'Science'",
 "'Cars and automobiles', 'DIY and crafts', 'Business and entrepreneurship', 'Outdoor activities'",
 "'Health and wellness', 'Gardening', 'Outdoor activities', 'Gardening', 'Gaming'",
 "'Nature'",
 "'Books', 'Nature'",
 "'Fashion', 'Parenting and family', 'Gaming', 'Politics'",
 "'Movies'",
 "'Outdoor activities', 'Politics', 'Photography', 'Photography'",
 "'Food and dining', 'Parenting and family', 'Fashion', 'Business and entrepreneurship'",
 "'Education and learning', 'Education and learning', 'Travel', 'Beauty', 'Cooking'",
 "'Science', 'Sports', 'Fitness'",
 "'Education and learning'",
 "'Gaming', 'Gardening', 'Politics'",
 "'Politics', 'Beauty', 'Health and wellness', 'DIY and crafts'",
 "'Travel', 'Fashion'",
 "'Social causes and activism', 'Cooking'",
 "'Pets', 'Movies', 'Music', 'Gardening'",
 "'Travel', 'Gardening', 'Finance and investments', 'Fitness', 'Music'",
 "'Technology', 'Outdoor activities', 'Business and entrepreneurship', 'Health and wellness'",
 "'Technology'",
 "'Cars and automobiles'",
 "'Beauty', 'Technology', 'Education and learning', 'Beauty'",
 "'Pets', 'Social causes and activism'",
 "'Photography', 'Outdoor activities', 'Pets'",
 "'Science', 'Gardening'",
 "'Politics', 'Art'",
 "'Education and learning', 'Travel', 'Technology'",
 "'Fitness', 'Politics', 'Cars and automobiles', 'Health and wellness', 'Fashion'",
 "'Finance and investments'",
 "'Fashion'",
 "'Education and learning', 'History', 'Politics'",
 "'Politics', 'Science', 'Books', 'Books', 'Health and wellness'",

In [13]:
[1,2,3]+['a','b']

[1, 2, 3, 'a', 'b']

In [49]:
interest_list = ''
for i in (list(df['Interests']))[0:10]:
    interest_list = interest_list + i

In [50]:
interest_list

"'Movies','Fashion','Fashion','Books''Gaming','Finance and investments','Outdoor activities','Travel''DIY and crafts','Music','Science','Fashion''Outdoor activities','Cars and automobiles''Politics','History''Travel''Outdoor activities','Movies''Beauty','Nature','Gardening','Food and dining','DIY and crafts''Parenting and family','Photography','Finance and investments''Gardening'"

In [51]:
(','.join(['fsdf,sdf','gfh,ghfg'])).split(',')

['fsdf', 'sdf', 'gfh', 'ghfg']

In [69]:
interest_list = ','.join(list(df['Interests'])).split(',')

In [70]:
#remove duplicates
interest_list = list(set(interest_list))

In [72]:
interest_list

[" 'Art'",
 " 'Social causes and activism'",
 " 'Science'",
 " 'Movies'",
 " 'Books'",
 " 'Food and dining'",
 "'Nature'",
 " 'Health and wellness'",
 " 'Cooking'",
 "'Photography'",
 "'Movies'",
 "'Health and wellness'",
 "'Business and entrepreneurship'",
 " 'Outdoor activities'",
 " 'Cars and automobiles'",
 "'Education and learning'",
 "'Social causes and activism'",
 "'DIY and crafts'",
 "'Fitness'",
 " 'Technology'",
 " 'Travel'",
 "'Outdoor activities'",
 " 'Sports'",
 " 'DIY and crafts'",
 " 'Gardening'",
 "'Politics'",
 " 'Pets'",
 " 'Beauty'",
 "'Gaming'",
 " 'Gaming'",
 " 'Parenting and family'",
 " 'Politics'",
 "'Gardening'",
 " 'Music'",
 " 'Finance and investments'",
 "'Parenting and family'",
 "'Food and dining'",
 "'Art'",
 "'Science'",
 "'Music'",
 " 'Fitness'",
 " 'Fashion'",
 " 'History'",
 "'Cars and automobiles'",
 " 'Business and entrepreneurship'",
 " 'Education and learning'",
 "'Books'",
 "'Technology'",
 "'Travel'",
 "'Finance and investments'",
 " 'Nature'",
 "'Cooking'",
 "'Sports'",
 "'Beauty'",
 "'Pets'",
 " 'Photography'",
 "'History'",
 "'Fashion'"]

In [73]:
'sdfsdf'.replace('s','')

'dfdf'

In [74]:
def remove_characters(x):
    x = x.replace(' ', '')
    x = x.replace("'",'')
    return x

In [75]:
remove_characters(" 'Art'")

'Art'

In [76]:
interest_list = list(map(remove_characters,interest_list))

In [77]:
interest_list = list(set(interest_list))

In [78]:
interest_list

['Foodanddining',
 'Photography',
 'Socialcausesandactivism',
 'DIYandcrafts',
 'Pets',
 'Movies',
 'Nature',
 'Art',
 'Businessandentrepreneurship',
 'Books',
 'Financeandinvestments',
 'Music',
 'Carsandautomobiles',
 'Parentingandfamily',
 'Fitness',
 'Travel',
 'Healthandwellness',
 'Beauty',
 'History',
 'Politics',
 'Cooking',
 'Outdooractivities',
 'Gardening',
 'Sports',
 'Fashion',
 'Gaming',
 'Educationandlearning',
 'Technology',
 'Science']

the above approach was not ideal for removing duplicates, we should try something else

In [79]:
df['Interests'] = df['Interests'].apply(lambda x: x.replace("', ","',"))

In [80]:
df

,UserID,Name,Gender,DOB,Interests,City,Country,First Name,Last Name
0,1,Jesse Lawhorn,Female,1958-10-15,"'Movies','Fashion','Fashion','Books'",Sibolga,Indonesia,Jesse,Lawhorn
1,2,Stacy Payne,Female,2004-07-21,"'Gaming','Finance and investments','Outdoor ac...",Al Abyār,Libya,Stacy,Payne
2,3,Katrina Nicewander,Female,2000-02-07,"'DIY and crafts','Music','Science','Fashion'",Wādī as Sīr,Jordan,Katrina,Nicewander
3,4,Eric Yarbrough,Male,1985-04-14,"'Outdoor activities','Cars and automobiles'",Matera,Italy,Eric,Yarbrough
4,5,Daniel Adkins,Female,1955-09-18,"'Politics','History'",Biruaca,Venezuela,Daniel,Adkins
...,...,...,...,...,...,...,...,...,...
99995,99996,Lionel Denault,Female,1983-07-31,'DIY and crafts',Dawan,China,Lionel,Denault
99996,99997,Margie Mieszala,Female,1954-05-20,"'Cars and automobiles','Cooking','Outdoor acti...",Arcos de la Frontera,Spain,Margie,Mieszala
99997,99998,Joan Mercedes,Male,1975-06-06,"'Business and entrepreneurship','Cooking'",Los Andes,Chile,Joan,Mercedes
99998,99999,Marvin Massa,Female,1959-11-16,"'Gaming','Business and entrepreneurship','Fash...",Varjota,Brazil,Marvin,Massa
99999,100000,Josh Young,Female,1988-07-29,"'Politics','Pets'",Brzeg,Poland,Josh,Young

In [81]:
interest_list = ','.join(list(df['Interests'])).split(',')

In [83]:
interest_list = list(set(interest_list))

In [84]:
for interest in interest_list:
    df[interest] = df['Interests'].apply(lambda x: 1 if interest in x else 0)

In [85]:
df

,UserID,Name,Gender,DOB,Interests,City,Country,First Name,Last Name,'Nature',...,'Books','Technology','Travel','Finance and investments','Cooking','Sports','History','Beauty','Pets','Fashion'
0,1,Jesse Lawhorn,Female,1958-10-15,"'Movies','Fashion','Fashion','Books'",Sibolga,Indonesia,Jesse,Lawhorn,0,...,1,0,0,0,0,0,0,0,0,1
1,2,Stacy Payne,Female,2004-07-21,"'Gaming','Finance and investments','Outdoor ac...",Al Abyār,Libya,Stacy,Payne,0,...,0,0,1,1,0,0,0,0,0,0
2,3,Katrina Nicewander,Female,2000-02-07,"'DIY and crafts','Music','Science','Fashion'",Wādī as Sīr,Jordan,Katrina,Nicewander,0,...,0,0,0,0,0,0,0,0,0,1
3,4,Eric Yarbrough,Male,1985-04-14,"'Outdoor activities','Cars and automobiles'",Matera,Italy,Eric,Yarbrough,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Daniel Adkins,Female,1955-09-18,"'Politics','History'",Biruaca,Venezuela,Daniel,Adkins,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,Lionel Denault,Female,1983-07-31,'DIY and crafts',Dawan,China,Lionel,Denault,0,...,0,0,0,0,0,0,0,0,0,0
99996,99997,Margie Mieszala,Female,1954-05-20,"'Cars and automobiles','Cooking','Outdoor acti...",Arcos de la Frontera,Spain,Margie,Mieszala,0,...,0,0,0,0,1,0,0,0,0,0
99997,99998,Joan Mercedes,Male,1975-06-06,"'Business and entrepreneurship','Cooking'",Los Andes,Chile,Joan,Mercedes,0,...,0,0,0,0,1,0,0,0,0,0
99998,99999,Marvin Massa,Female,1959-11-16,"'Gaming','Business and entrepreneurship','Fash...",Varjota,Brazil,Marvin,Massa,0,...,0,0,0,0,0,0,0,0,0,1
99999,100000,Josh Young,Female,1988-07-29,"'Politics','Pets'",Brzeg,Poland,Josh,Young,0,...,0,0,0,0,0,0,0,0,1,0

In [98]:
#or another way...
for interest in interest_list:
    df[interest] = np.where(df['Interests'].str.contains(interest), 1, 0)

In [99]:
df

,UserID,Name,Gender,DOB,Interests,City,Country,First Name,Last Name,'Nature',...,'Books','Technology','Travel','Finance and investments','Cooking','Sports','History','Beauty','Pets','Fashion'
0,1,Jesse Lawhorn,Female,1958-10-15,"'Movies','Fashion','Fashion','Books'",Sibolga,Indonesia,Jesse,Lawhorn,0,...,1,0,0,0,0,0,0,0,0,1
1,2,Stacy Payne,Female,2004-07-21,"'Gaming','Finance and investments','Outdoor ac...",Al Abyār,Libya,Stacy,Payne,0,...,0,0,1,1,0,0,0,0,0,0
2,3,Katrina Nicewander,Female,2000-02-07,"'DIY and crafts','Music','Science','Fashion'",Wādī as Sīr,Jordan,Katrina,Nicewander,0,...,0,0,0,0,0,0,0,0,0,1
3,4,Eric Yarbrough,Male,1985-04-14,"'Outdoor activities','Cars and automobiles'",Matera,Italy,Eric,Yarbrough,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Daniel Adkins,Female,1955-09-18,"'Politics','History'",Biruaca,Venezuela,Daniel,Adkins,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,Lionel Denault,Female,1983-07-31,'DIY and crafts',Dawan,China,Lionel,Denault,0,...,0,0,0,0,0,0,0,0,0,0
99996,99997,Margie Mieszala,Female,1954-05-20,"'Cars and automobiles','Cooking','Outdoor acti...",Arcos de la Frontera,Spain,Margie,Mieszala,0,...,0,0,0,0,1,0,0,0,0,0
99997,99998,Joan Mercedes,Male,1975-06-06,"'Business and entrepreneurship','Cooking'",Los Andes,Chile,Joan,Mercedes,0,...,0,0,0,0,1,0,0,0,0,0
99998,99999,Marvin Massa,Female,1959-11-16,"'Gaming','Business and entrepreneurship','Fash...",Varjota,Brazil,Marvin,Massa,0,...,0,0,0,0,0,0,0,0,0,1
99999,100000,Josh Young,Female,1988-07-29,"'Politics','Pets'",Brzeg,Poland,Josh,Young,0,...,0,0,0,0,0,0,0,0,1,0

In [97]:
df[df['Interests'].str.contains('Art')]

,UserID,Name,Gender,DOB,Interests,City,Country,First Name,Last Name,'Nature',...,'Books','Technology','Travel','Finance and investments','Cooking','Sports','History','Beauty','Pets','Fashion'
12,13,Jack Freeman,Male,1984-08-07,"'Gaming','Travel','Technology','Art'",Manzhouli,China,Jack,Freeman,0,...,0,0,0,0,0,0,0,0,0,0
14,15,Homer Maxwell,Male,1968-12-01,"'Art','Cooking','Cars and automobiles','Fashio...",Biaora,India,Homer,Maxwell,0,...,0,0,0,0,0,0,0,0,0,0
47,48,Brenda Gegenheimer,Male,1984-03-18,"'Cooking','Art','Gardening','Social causes and...",Abinsk,Russia,Brenda,Gegenheimer,0,...,0,0,0,0,0,0,0,0,0,0
53,54,Carita Scott,Male,1970-09-01,"'Art','Photography'",Brest,France,Carita,Scott,0,...,0,0,0,0,0,0,0,0,0,0
71,72,Jared Howard,Male,1967-09-21,"'Education and learning','Fitness','Outdoor ac...",Canton,United States,Jared,Howard,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99955,99956,Micheline Gutierrez,Male,1982-10-25,"'Education and learning','Fitness','Art','Fina...",Izberbash,Russia,Micheline,Gutierrez,0,...,0,0,0,0,0,0,0,0,0,0
99970,99971,Kenneth Sykes,Male,1955-02-28,"'History','Cooking','Gardening','Education and...",Esperança,Brazil,Kenneth,Sykes,0,...,0,0,0,0,0,0,0,0,0,0
99972,99973,Lorenzo Sutton,Male,1994-09-08,"'Gaming','Art'",Makumbako,Tanzania,Lorenzo,Sutton,0,...,0,0,0,0,0,0,0,0,0,0
99973,99974,Barbara Frey,Female,1999-08-26,"'Fashion','Finance and investments','Art','Edu...",Pekan Nenas,Malaysia,Barbara,Frey,0,...,0,0,0,0,0,0,0,0,0,0
99984,99985,Carroll Radtke,Female,2002-10-02,"'Politics','Fitness','Art','DIY and crafts'",Novomoskovsk,Russia,Carroll,Radtke,0,...,0,0,0,0,0,0,0,0,0,0

In [100]:
df

,UserID,Name,Gender,DOB,Interests,City,Country,First Name,Last Name,'Nature',...,'Books','Technology','Travel','Finance and investments','Cooking','Sports','History','Beauty','Pets','Fashion'
0,1,Jesse Lawhorn,Female,1958-10-15,"'Movies','Fashion','Fashion','Books'",Sibolga,Indonesia,Jesse,Lawhorn,0,...,1,0,0,0,0,0,0,0,0,1
1,2,Stacy Payne,Female,2004-07-21,"'Gaming','Finance and investments','Outdoor ac...",Al Abyār,Libya,Stacy,Payne,0,...,0,0,1,1,0,0,0,0,0,0
2,3,Katrina Nicewander,Female,2000-02-07,"'DIY and crafts','Music','Science','Fashion'",Wādī as Sīr,Jordan,Katrina,Nicewander,0,...,0,0,0,0,0,0,0,0,0,1
3,4,Eric Yarbrough,Male,1985-04-14,"'Outdoor activities','Cars and automobiles'",Matera,Italy,Eric,Yarbrough,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Daniel Adkins,Female,1955-09-18,"'Politics','History'",Biruaca,Venezuela,Daniel,Adkins,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,Lionel Denault,Female,1983-07-31,'DIY and crafts',Dawan,China,Lionel,Denault,0,...,0,0,0,0,0,0,0,0,0,0
99996,99997,Margie Mieszala,Female,1954-05-20,"'Cars and automobiles','Cooking','Outdoor acti...",Arcos de la Frontera,Spain,Margie,Mieszala,0,...,0,0,0,0,1,0,0,0,0,0
99997,99998,Joan Mercedes,Male,1975-06-06,"'Business and entrepreneurship','Cooking'",Los Andes,Chile,Joan,Mercedes,0,...,0,0,0,0,1,0,0,0,0,0
99998,99999,Marvin Massa,Female,1959-11-16,"'Gaming','Business and entrepreneurship','Fash...",Varjota,Brazil,Marvin,Massa,0,...,0,0,0,0,0,0,0,0,0,1
99999,100000,Josh Young,Female,1988-07-29,"'Politics','Pets'",Brzeg,Poland,Josh,Young,0,...,0,0,0,0,0,0,0,0,1,0

In [109]:
df_cluster = df.iloc[:, 9:df.shape[1]]  # Selecting columns from index 0 to 1 (inclusive)

In [107]:
df.shape[1]

38

In [111]:
from sklearn.cluster import KMeans

In [112]:
kmeans = KMeans(n_clusters=3)  # Define the number of clusters
kmeans.fit(df_cluster)

# Get cluster labels for each sample
labels = kmeans.labels_

# Print cluster centers
print("Cluster Centers:")
print(kmeans.cluster_centers_)

C:\Users\wedwa\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

Cluster Centers:
[[ 8.68518924e-02  8.62502735e-02  8.81098228e-02  8.72894334e-02
   8.73988186e-02  8.92036753e-02  8.66331219e-02  8.16560928e-02
   8.84926712e-02  8.43360315e-02  8.71800481e-02  8.73988186e-02
   8.32421790e-02  8.57033472e-02  8.95865237e-02  8.45001094e-02
   8.18748633e-02  8.75628965e-02  8.77816670e-02  8.88208270e-02
   8.68518924e-02  8.46094946e-02  8.82192081e-02  8.61955808e-02
   8.68518924e-02  8.47188799e-02  8.69612776e-02  8.55939619e-02
   1.00000000e+00]
 [ 9.93049405e-02  9.89596625e-02  1.00761113e-01  9.91398075e-02
   9.99354480e-02  9.88545779e-02  1.00656028e-01  1.53627111e-14
   9.95301217e-02  9.98753997e-02  9.62274631e-02  1.00445859e-01
   1.00025521e-01  9.87194692e-02  9.69030069e-02  9.99654722e-02
   2.02199368e-14  9.89596625e-02  1.00175641e-01  9.92298801e-02
   9.82991308e-02  9.94550613e-02  9.98603876e-02  1.02097188e-01
   9.96952547e-02  9.95451338e-02  9.78938045e-02  1.01691862e-01
  -5.16253706e-14]
 [ 8.69363703e-02  9.24981792e-02  8.97172747e-02  8.75322784e-02
   8.90551546e-02  8.41554658e-02  8.53472820e-02  5.28040787e-01
   9.32927233e-02  9.13063630e-02  8.65390982e-02  9.05780309e-02
   8.83930345e-02  8.79957624e-02  8.89889426e-02  8.76647024e-02
   5.24068066e-01  8.64066742e-02  8.76647024e-02  8.94524267e-02
   9.24981792e-02  9.28292392e-02  8.66053102e-02  9.02469708e-02
   8.48837979e-02  8.77971264e-02  8.71350063e-02  9.00483348e-02
   7.68059326e-03]]

In [113]:
print("Cluster Labels:")
print(labels)

Cluster Labels:
[0 1 2 ... 1 0 1]

In [115]:
type(labels)

numpy.ndarray

In [116]:
df['cluster membership'] = labels

In [117]:
df

,UserID,Name,Gender,DOB,Interests,City,Country,First Name,Last Name,'Nature',...,'Technology','Travel','Finance and investments','Cooking','Sports','History','Beauty','Pets','Fashion',cluster membership
0,1,Jesse Lawhorn,Female,1958-10-15,"'Movies','Fashion','Fashion','Books'",Sibolga,Indonesia,Jesse,Lawhorn,0,...,0,0,0,0,0,0,0,0,1,0
1,2,Stacy Payne,Female,2004-07-21,"'Gaming','Finance and investments','Outdoor ac...",Al Abyār,Libya,Stacy,Payne,0,...,0,1,1,0,0,0,0,0,0,1
2,3,Katrina Nicewander,Female,2000-02-07,"'DIY and crafts','Music','Science','Fashion'",Wādī as Sīr,Jordan,Katrina,Nicewander,0,...,0,0,0,0,0,0,0,0,1,2
3,4,Eric Yarbrough,Male,1985-04-14,"'Outdoor activities','Cars and automobiles'",Matera,Italy,Eric,Yarbrough,0,...,0,0,0,0,0,0,0,0,0,1
4,5,Daniel Adkins,Female,1955-09-18,"'Politics','History'",Biruaca,Venezuela,Daniel,Adkins,0,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,Lionel Denault,Female,1983-07-31,'DIY and crafts',Dawan,China,Lionel,Denault,0,...,0,0,0,0,0,0,0,0,0,2
99996,99997,Margie Mieszala,Female,1954-05-20,"'Cars and automobiles','Cooking','Outdoor acti...",Arcos de la Frontera,Spain,Margie,Mieszala,0,...,0,0,0,1,0,0,0,0,0,1
99997,99998,Joan Mercedes,Male,1975-06-06,"'Business and entrepreneurship','Cooking'",Los Andes,Chile,Joan,Mercedes,0,...,0,0,0,1,0,0,0,0,0,1
99998,99999,Marvin Massa,Female,1959-11-16,"'Gaming','Business and entrepreneurship','Fash...",Varjota,Brazil,Marvin,Massa,0,...,0,0,0,0,0,0,0,0,1,0
99999,100000,Josh Young,Female,1988-07-29,"'Politics','Pets'",Brzeg,Poland,Josh,Young,0,...,0,0,0,0,0,0,0,1,0,1

In [120]:
df[df['cluster membership']==2]

,UserID,Name,Gender,DOB,Interests,City,Country,First Name,Last Name,'Nature',...,'Technology','Travel','Finance and investments','Cooking','Sports','History','Beauty','Pets','Fashion',cluster membership
2,3,Katrina Nicewander,Female,2000-02-07,"'DIY and crafts','Music','Science','Fashion'",Wādī as Sīr,Jordan,Katrina,Nicewander,0,...,0,0,0,0,0,0,0,0,1,2
7,8,William Harper,Male,1965-12-30,"'Beauty','Nature','Gardening','Food and dining...",Ad-Damazin,Sudan,William,Harper,1,...,0,0,0,0,0,0,1,0,0,2
16,17,Donald Zeller,Male,1970-05-17,"'Music','DIY and crafts','Cars and automobiles...",Paiçandu,Brazil,Donald,Zeller,0,...,1,0,0,1,0,0,0,0,0,2
22,23,William Richardson,Female,1964-10-31,"'Science','Movies'",Zhakou,China,William,Richardson,0,...,0,0,0,0,0,0,0,0,0,2
24,25,Ruth Burns,Male,1990-10-18,"'Science','Movies','Health and wellness','Fina...",Magangué,Colombia,Ruth,Burns,0,...,0,0,1,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99976,99977,Donald Kimura,Male,1955-03-20,"'DIY and crafts','Food and dining'",Ath,Belgium,Donald,Kimura,0,...,0,0,0,0,0,0,0,0,0,2
99978,99979,Jasmin Potter,Female,2001-09-15,"'Finance and investments','Gaming','Science'",Abay,Kazakhstan,Jasmin,Potter,0,...,0,0,1,0,0,0,0,0,0,2
99984,99985,Carroll Radtke,Female,2002-10-02,"'Politics','Fitness','Art','DIY and crafts'",Novomoskovsk,Russia,Carroll,Radtke,0,...,0,0,0,0,0,0,0,0,0,2
99986,99987,Keenan Silva,Male,1977-10-27,"'Cooking','DIY and crafts','Gaming'",Morsang-sur-Orge,France,Keenan,Silva,0,...,0,0,0,1,0,0,0,0,0,2
99995,99996,Lionel Denault,Female,1983-07-31,'DIY and crafts',Dawan,China,Lionel,Denault,0,...,0,0,0,0,0,0,0,0,0,2